
@media screen and (max-width: 768px){

    header {
        position: relative;
        height: 100px;
        align-items: start;
        justify-content: center;
    }

    .mainTitle {
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row-reverse;
        gap: 10px;
    }

    .mainTitle h1 {
        font-size: 18px;
        width: 80%;
        margin: 0;
    }

    .mainTitle img {
        height: 70px;
        width: 70px;
        margin: 0;
    }

    .menu {
        display: block;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 10px;
    }

    .navbar ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 280px;
        height: auto;
        background-color: var(--Darker-green);
        flex-direction: column;
        align-items: center;
        justify-content: start;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.432);
        border-radius: 20px;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transform: translate(20px, -20px);
        transition: .2s ease-in-out;

    }   

    .navbar ul li {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .navbar ul li a {
        display: block;
        font-size: 15px;
        padding: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 0;
    }

    .navbar ul li .top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .navbar ul li .bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}

@media screen and (min-width: 769px) and (max-width:950px){

    header {
        position: relative;
        height: 100px;
        align-items: start;
        justify-content: center;
    }

    .mainTitle {
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu {
        display: block;
        cursor: pointer;
        margin-left: 40px;
        margin-top: 20px;
    }

    .navbar ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 280px;
        height: auto;
        background-color: var(--Darker-green);
        flex-direction: column;
        align-items: center;
        justify-content: start;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.432);
        border-radius: 20px;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transform: translate(20px, -20px);
        transition: .2s ease-in-out;
    }   

    .navbar ul li {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .navbar ul li a {
        display: block;
        font-size: 15px;
        padding: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 0;
    }

    .navbar ul li .top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .navbar ul li .bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (min-width: 951px) and (max-width: 1140px) {

    .navbar{
        display: flex;
    }

    .navbar ul li a {
        font-size: 1.5vw;
    }

}