@charset "UTF-8";


@media screen and (max-width: 768px){
    
    .header_title {
        font-size: 3.2vw;
    }

    header img {
        height: 12vw;
    }


    .estado_porta h2 {
        font-size: 3vw;
    }

    .estado_porta img {
        height: 6vw;
    }

    .caixa-laboratorio {
        width: 0vw;
    }

    .caixa-laboratorio > h1 {
        font-size: 3.7vw;
    }

    .modo_aula label {
        font-size: 4vw;
    }

    .caixa_led {
        width: 20px;
        height: 20px;
    }

    .led {
        width: 70%;
        height: 90%;
    }

    .baixo-led {
        width: 80%;
        height: 10%;

    }

    .switch {
        width: 60px;
        height: 30px;
    }

    .slider {
        position: absolute;
        left: 5px;
        height: 23px;
        width: 23px;
        background-color: white;
        border-radius: 50%;
        transition: all .5s ease-in-out;
    }

    .toggle:checked ~ .switch .slider {
        transform: translateX(27px);
    }

    .abre_porta {
        width: 60%;
        height: 30px;
        font-size: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width:950px){
    
    main {
        flex-flow: column nowrap;
        height: 1150px;
    }

    #interacao_Porta, section#historico {
        width: 90%;
        margin: 10px 0;
    }
    
    .caixa-laboratorio {
        width: 31vw;
    }
}

@media screen and (min-width: 950px) and (max-width: 1140px) {

    .rolagem_lab {
        grid-auto-flow: column;          /* organiza em colunas */
        grid-template-rows: repeat(2, 1fr); /* fixa em 2 linhas */
        gap: 10px;
        overflow-x: auto;   /* scroll só na horizontal */
        overflow-y: hidden; /* esconde scroll vertical */
        padding: 15px;
        scroll-snap-type: x mandatory; /* opcional: carrossel suave */
        margin: 0 10px;}

    .caixa-laboratorio h1 {
        font-size: 2vw;
    }

    .modo_aula label {
        font-size: 2vw;
    }

    .abre_porta {
        font-size: 15px;
    }
}
