@charset "UTF-8";


@media screen and (max-width: 768px){
    
    .header_title {
        font-size: 3.2vw;
    }

    header img {
        height: 12vw;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        width: 100%;
    }

    section#interacao_Porta, section#historico {
        width: 90%;
        margin: 10px 0;
        flex: none;
        max-width: 90%;
    }

    .estado_porta h2 {
        font-size: 3vw;
    }

    .estado_porta img {
        height: 6vw;
    }

    .caixa-laboratorio {
        width: 200px;
        gap: 5px;
    }

    .caixa-laboratorio > h1 {
        font-size: 3.7vw;
    }

    .modo_aula label {
        font-size: 3vw;
    }

    .caixa_led {
        width: 20px;
        height: 20px;
    }

    .led {
        width: 70%;
        height: 90%;
    }

    .baixo-led {
        width: 80%;
        height: 10%;

    }

    .switch {
        width: 60px;
        height: 30px;
    }

    .slider {
        position: absolute;
        left: 5px;
        height: 23px;
        width: 23px;
        background-color: white;
        border-radius: 50%;
        transition: all .5s ease-in-out;
    }

    .toggle:checked ~ .switch .slider {
        transform: translateX(27px);
    }

    .abre_porta {
        width: 60%;
        height: 30px;
        font-size: 15px;
    }

}

@media screen and (min-width: 769px) and (max-width:950px){
    
    main {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
        width: 100%;
    }

    .manu {
        display: block;
    }

    .navbar ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        height: 100%;
        background-image: linear-gradient(to bottom, var(--Dark-green), var(--Light-green));
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 30px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
        padding-top: 40px;
    }

    section#interacao_Porta, section#historico {
        width: 90%;
        margin: 10px 0;
        flex: none;
        max-width: 90%;
    }
    
    .caixa-laboratorio {
        width: 31vw;
    }

    .caixa_led {
        width: 25px;
        height: 25px;
    }

    .led {
        width: 70%;
        height: 90%;
    }

    .baixo-led {
        width: 80%;
        height: 10%;

    }
}

@media screen and (min-width: 951px) and (max-width: 1140px) {

    .navbar ul li a {
        font-size: 1.5vw;
    }

    .rolagem_lab {
        grid-auto-flow: column;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        overflow-x: auto;   
        overflow-y: hidden; 
        padding: 15px;
        scroll-snap-type: x mandatory; 
        margin: 0 10px;}

    .caixa-laboratorio h1 {
        font-size: 2vw;
    }

    .modo_aula label {
        font-size: 2vw;
    }

    .abre_porta {
        font-size: 15px;
    }
}
