@charset "UTF-8";


@media screen and (max-width: 500px){
    .rolagem_lab {
        grid-template-columns: 1fr;
    }

    .caixa-laboratorio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 150px));
    
    }

    .caixa-laboratorio > h1 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 1000px) {
    
    main {
        flex-flow: column nowrap;
        height: 1100px;
        align-items: center;
    }

    #interacao_Porta {
        align-items: center;
        width: 100%;
    }

    section#historico, #interacao_Porta {
        width: 90vw;

    }

    section#historico {
        margin: 0;
        margin-top: 15px;
        height: 400px;
    }

    #interacao_Porta {
        margin: 0;
        margin: 15px 0 ;
        height: 500px;
    }
}
