<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programe o horário da Fechadura</title>
    <link rel="stylesheet" href="../style/style-ph.css">
    
</head>
<body>

    <header>
        <div class="mainTitle">
            <img src="../style/imagens/logo-tro.png" alt="Logo Curso">
            <h1 class="header_title">Controle de Acesso</h1>
        </div>
        <div class="menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="sistema.php" class="top">Sistema</a></li>
                <li><a href="../templates/programarhorario.html">Programar Fechadura</a></li>
                <li><a href="../APIs/logout.php" class="bottom">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Programe o horário da Fechadura</h1>
        <section class="alarmes">

        </section>
        <section class="novoAlarme">
            
        </section>
    </main>
    
</body>
</html>